{% extends 'base.html.twig' %}

{% block title %}Détail d'une entreprise{% endblock %}

{% block body %}
    <h1>{{ entreprise }}</h1>
    <p>
        SIRET : {{ entreprise.siret }} <br>
        Date de création : {{ entreprise.dateCreation | date('d-m-Y') }} <br>
        Adresse : {{ entreprise.fullAdresse }} <br>
    </p>

    <h2>Liste des employés</h2>

    {% if entreprise.employes | length == 0 %}
        <p> Pas d'employés dans cette entreprise</p>
    {% else %}
        {% for employe in entreprise.employes %}
            <a href="{{ path('show_employe', {'id' : employe.id})}}">{{ employe }}</a> <br>
        {% endfor %}
    {% endif %}


{% endblock %}