{% extends 'base.html.twig' %}

{% block title %}Détail d'un employé{% endblock %}

{% block body %}
    <h1>{{ employe}}</h1>
    <p>
        ville : {{ employe.ville }} <br>
        Entreprise : <a href="{{ path('show_entreprise', {'id': employe.entreprise.id})}}">{{ employe.entreprise }}</a> <br>
        Date d'embauche : {{ employe.dateEmbauche | date('d-m-Y') }} <br>
        Date de naissance : {{ employe.dateNaissance | date('d-m-Y') }} ({{ employe.age }} ans) <br>
    </p>
    
{% endblock %}